body{
    background-color: violet;
}
h1{
    color: chocolate;
    text-align: center;
}
.hola{
    color: blue;
    text-size-adjust: 80px;
}
#cosa{
    color:darkslateblue;
    text-align: justify;
    text-align: right;
}
#b1{
    color:aqua;
}
#b2{
    color:crimson;
}
#b3{
    color:darkgreen;
}